#bg-map {
  height: 100%;
  width: 100%;
  position:absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Set z-index to 0 as it will be on a layer below the contact form */
}

#fg-map {
  /*position: absolute;*/
  z-index: 0; /* The z-index should be higher than Google Maps */
  /*width: auto;*/
  /*margin: 60px auto 0;*/
  padding: 10px;
  border-radius: 50%;
  background: black;
  /*height: auto;*/
  /*opacity: .45; /* Set the opacity for a slightly transparent Google Form */*/
  color: white;
  width: 70%;
  height: 40%;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  zoom: 2;
  -ms-zoom: 2;
  -webkit-zoom: 2;
  -moz-transform:  scale(2,2);
  -moz-transform-origin: left center;
  border: 5px solid #8bc34a;
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[title="Report problems with Street View imagery to Google"]{display:none !important}

.gmnoprint a, .gmnoprint span {
  display:none;
}
.gmnoprint div {
  background:none !important;
}

#map-report a img { display:none; }


#carImg {
  z-index: 1;
  width: 16%;
  height: auto;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: none;
}
