#header {
  width: 100%;
  text-align: center;
  height: 60px;
  color: #FDFDFD;
  position: absolute;
  top:0;
  left: 0;
  font-size: 24px;
  letter-spacing: 3px;
  line-height: 55px;
  font-family: Helvetica;
}

#bg-map {
  height: 100%;
  width: 100%;
  position:absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Set z-index to 0 as it will be on a layer below the contact form */
}

#fg-map {
  /*position: absolute;*/
  z-index: 0; /* The z-index should be higher than Google Maps */
  /*width: auto;*/
  /*margin: 60px auto 0;*/
  padding: 10px;
  border-radius: 50%;
  background: black;
  /*height: auto;*/
  /*opacity: .45; /* Set the opacity for a slightly transparent Google Form */*/
  color: white;
  max-width: 100px;
  max-height: 100px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  zoom: 2;
  -ms-zoom: 2;
  -webkit-zoom: 2;
  -moz-transform:  scale(2,2);
  -moz-transform-origin: left center;
  border: 3px solid #64B6E5;
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[title="Report problems with Street View imagery to Google"]{display:none !important}

.gmnoprint a, .gmnoprint span {
  display:none;
}
.gmnoprint div {
  background:none !important;
}

#map-report a img { display:none; }


.gps_ring {
    border: 1px solid #64B6E5;
    -webkit-border-radius: 30px;
    height: 18px;
    width: 18px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top:48.5%;
    margin: auto;
    -webkit-animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0;
    z-index:10;

}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(1, 1); opacity: 0.05;}
    /*
    25% {-webkit-transform: scale(2, 2); opacity: 0.4;}
    50% {opacity: .5;}
    75% {-webkit-transform: scale(3.2, 3.2); opacity: .7;}
    80% {-webkit-transform: scale(5.2, 5.2); opacity: .8;}
    90% {-webkit-transform: scale(6.2, 6.2); opacity: .8;}*/
    100% {-webkit-transform: scale(12.8, 12.8); opacity:.2;}
}


#carImg {
  z-index: 1;
  width: 40px;
  height: auto;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: none;
}


#zendrive {
  family-name: helvetica;
  font-size: 250%;
  color: #6FC59E;
  position: fixed;
  bottom: 0;
  right: 0;
}

